<div class="card card-body bg-light">
    <h2>Editar estudios</h2>
    <form class="form-group" #formStudy="ngForm" (ngSubmit)="editStudy(study.id)">
        <div class="row align-items-center mb-3">
            <div class="col-12">
                <!-- Name -->
                <h4 class="fw-bold">
                    Nombre/título
                </h4>
            </div>
            <div class="col-12">
                <input [(ngModel)]="study.name" name="name" type="text" class="form-control" required>
                <span *ngIf="validateFieldStudy('name')" class="text-danger form-text">
                    El nombre es obligatorio
                </span>
            </div>
        </div>
        <div class="row align-items-center mb-3">
            <div class="col-12">
                <!-- Title -->
                <h4 class="fw-bold">
                    Nivel
                </h4>
            </div>
            <div class="col-12">
                <select class="form-select" [(ngModel)]="study.title" name="title" required>
                    <option selected>Selecciona nivel</option>
                    <option value="FP Básico">FP Básico</option>
                    <option value="FP Medio">FP Medio</option>
                    <option value="FP Superior">FP Superior</option>
                    <option value="Grado Universitario">Grado Universitario</option>
                    <option value="Postgrado">Estudios de postgrado</option>
                    <option value="Doctorado">Doctorado</option>
                    <option value="Otras certificaciones, títulos y carnés">Otras certificaciones, títulos y carnés</option>
                </select>
                <span *ngIf="validateFieldStudy('title')" class="text-danger form-text">
                    El nivel es obligatorio
                </span>
            </div>
            <div class="col-12 mt-3">
                <!-- School -->
                <h4 class="fw-bold">
                    Institución
                </h4>
            </div>
            <div class="col-12">
                <input [(ngModel)]="study.school" name="school" type="text" class="form-control" required>
                <span *ngIf="validateFieldStudy('school')" class="text-danger form-text">
                    La institución/universidad es obligatoria
                </span>
            </div>
            <div class="col-12 mt-3">
                <!-- Begin date -->
                <h4 class="fw-bold">
                    Inicio
                </h4>
            </div>
            <div class="col-12">
                <input [(ngModel)]="study.begin" name="begin" type="date" class="form-control" required>
                <span *ngIf="validateFieldStudy('begin')" class="text-danger form-text">
                    La fecha de inicio es obligatoria
                </span>
            </div>
            <div class="col-12 mt-3">
                <!-- End date -->
                <h4 class="fw-bold">
                    Final
                </h4>
            </div>
            <div class="col-12">
                <input [(ngModel)]="study.end" name="end" type="date" class="form-control">
                <span class="form-text">
                    No marques nada para indicar que aún sigues en estos estudios
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-3 col-xs-6">
                <button [disabled]="formStudy?.invalid" type="submit" class="btn btn-success">
                    Editar
                </button>
            </div>
        </div>
    </form>
</div>