<div *ngIf="user">
    <div class="row py-5 px-4">
        <div class="col-xl-9 col-lg-10 col-md-12 mx-auto">
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                        <div class="row column mr-3">
                            <!-- Profile image -->
                            <div *ngIf="user && user.image;else noImage">
                                <img [src]="baseUrl+'/files/'+user.image.id" class="rounded mb-2 img-thumbnail">
                            </div>
                            <ng-template #noImage>
                                <img src="assets/img/no-image.png" class="rounded mb-2 img-thumbnail">
                            </ng-template>
                            <!-- Edit profile info (name, last name..., not CV info) -->
                            <div class="row justify-content-start ml-1">
                                <a *ngIf=" showEditButton" [routerLink]="[ '/user/edit',user.id]" class="col-8 btn btn-outline-dark btn-sm">
                                Editar
                            </a>
                            </div>
                        </div>
                        <!-- User's personal info -->
                        <div class="media-body mb-5 text-white">
                            <h2 class="mt-0 mb-0">{{user.name}} {{user.last_name}}</h2>
                            <h5 class="mb-0">{{user.born | date}}</h5>
                            <h5 class="mb-0" *ngIf="user.phone">{{user.phone}}</h5>
                            <h5 class="mb-4">{{user.email}}</h5>
                        </div>
                    </div>
                </div>
                <!-- Number of experiences, studies and languages -->
                <div class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">{{user.experiences?.length}}</h5><small class="text-muted"> Experiencias</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">{{user.education?.length}}</h5><small class="text-muted"> Estudios</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">{{user.languages?.length}}</h5><small class="text-muted"> Idiomas</small>
                        </li>
                    </ul>
                </div>
                <!-- Skills -->
                <h2 class="px-4 mt-3">Habilidades y tecnologías</h2>
                <div class="px-4 mt-2">
                    <!-- Add skill -->
                    <a *ngIf="showEditButton" class="btn btn-info mb-2" data-bs-toggle="collapse" href="#addSkill" role="button" aria-expanded="false" aria-controls="addSkill">
                        Añadir
                    </a>
                    <!-- Add skill form -->
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="addSkill">
                                <app-add-skill [user]="user" (emitUser)="userEmitted($event)"></app-add-skill>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="user.skills!.length>0">
                    <div class="px-4 mt-2 mb-3">
                        <div class="p-4 rounded shadow-sm bg-light">
                            <div class="d-inline-block px-4 mt-2" *ngFor="let skill of user.skills">
                                <span>{{skill.name}}</span>
                                <span><b class="px-2">{{skill.level}}</b></span>
                                <!-- Edit skill -->
                                <a *ngIf="showEditButton" class="btn btn-primary p-1 ml-2 mr-1" data-bs-toggle="collapse" [href]="'#editSkill'+skill.id" role="button" aria-expanded="false" aria-controls="editSkill">
                                    <mat-icon>edit</mat-icon>
                                </a>
                                <!-- Delete skill -->
                                <a *ngIf="showEditButton" class="btn btn-danger p-1 text-light" data-bs-toggle="collapse" (click)="deleteSkill(skill.id)" role="button" aria-expanded="false" aria-controls="deleteSkill">
                                    <mat-icon>delete</mat-icon>
                                </a>
                            </div>
                            <!-- Edit skill form -->
                            <div *ngFor="let skill of user.skills">
                                <div class="collapse multi-collapse mt-2 mb-2" [id]="'editSkill'+skill.id">
                                    <app-edit-skill [skill]="skill" [user]="user" (emitUser)="userEmitted($event)"></app-edit-skill>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Experiences -->
                <h2 class="px-4 mt-3">Experiencia laboral</h2>
                <div class="px-4 mt-2">
                    <!-- Add experience -->
                    <a *ngIf="showEditButton" class="btn btn-info mb-2" data-bs-toggle="collapse" href="#addExperience" role="button" aria-expanded="false" aria-controls="addExperience">
                        Añadir
                    </a>
                    <!-- Add experience form -->
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="addExperience">
                                <app-add [user]="user" (emitUser)="userEmitted($event)"></app-add>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="user.experiences!.length>0">
                    <div class="px-4 mt-2 mb-3" *ngFor="let experience of user.experiences">
                        <div class="d-flex justify-content-between align-items-end">
                            <h3 class="mb-0">{{experience.position}} </h3>
                            <div>
                                <!-- Edit experience -->
                                <a *ngIf="showEditButton" class="btn btn-primary p-1 mr-1" data-bs-toggle="collapse" [href]="'#editExperience'+experience.id" role="button" aria-expanded="false" aria-controls="editExperience">
                                    <mat-icon>edit</mat-icon>
                                </a>
                                <!-- Delete experience -->
                                <a *ngIf="showEditButton" class="btn btn-danger p-1 text-light" data-bs-toggle="collapse" (click)="deleteExperience(experience.id)" role="button" aria-expanded="false" aria-controls="deleteExperience">
                                    <mat-icon>delete</mat-icon>
                                </a>
                            </div>
                        </div>
                        <div class="p-4 rounded shadow-sm bg-light">
                            <h4 class="mb-0"><span class="fw-bold">{{experience.enterprise}}</span> ({{experience.city}})</h4>
                            <p>{{experience.begin | date}} - {{((experience.end)?(experience.end | date):'Actualmente') }}</p>
                            <p>{{experience.comments}}</p>
                            <div class="row">
                                <div class="col">
                                    <!-- Edit experience form -->
                                    <div class="collapse multi-collapse" [id]="'editExperience'+experience.id">
                                        <app-edit-experience [user]="user" [experience]="experience" (emitUser)="userEmitted($event)"></app-edit-experience>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Education and languages -->
                <div class="py-4 px-4">
                    <div class="row justify-content-center mb-3">
                        <!-- Education -->
                        <div class="col-lg-5 col-12">
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="card text-dark bg-light mb-3">
                                        <h2 class="card-header text-center">Formación</h2>
                                        <div *ngIf="user.education && user.education.length>0">
                                            <div *ngFor="let study of user.education;let i=index" [class]="(i==0)? 'carousel-item active': 'carousel-item'">
                                                <div class="card-body">
                                                    <h3 class="card-title text-center">{{study.name}} - <span class="fst-italic">{{study.title}}</span></h3>
                                                    <h4 class="card-title text-center">{{study.begin | date}} - {{(study.end)?(study.end | date):'Actualmente'}}</h4>
                                                    <h4 class="card-title text-center">{{study.school}}</h4>
                                                </div>
                                                <div class="card-body d-flex justify-content-center">
                                                    <!-- Edit study -->
                                                    <a *ngIf="showEditButton" class="btn btn-primary p-1 mr-1" data-bs-toggle="collapse" [href]="'#editStudy'+study.id" role="button" aria-expanded="false" aria-controls="editStudy">
                                                        <mat-icon>edit</mat-icon>
                                                    </a>
                                                    <!-- Delete study -->
                                                    <a *ngIf="showEditButton" class="btn btn-danger p-1 text-light" data-bs-toggle="collapse" (click)="deleteStudy(study.id)" role="button" aria-expanded="false" aria-controls="deleteStudy">
                                                        <mat-icon>delete</mat-icon>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="user.education && user.education.length>0">
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                            <!-- Edit study form -->
                            <div *ngFor="let study of user.education" class="collapse multi-collapse mt-2 mb-2" [id]="'editStudy'+study.id">
                                <app-edit-education [study]="study" [user]="user" (emitUser)="userEmitted($event)"></app-edit-education>
                            </div>
                            <a *ngIf="showEditButton" class="btn btn-info mt-0 mb-2" data-bs-toggle="collapse" href="#addStudy" role="button" aria-expanded="false" aria-controls="addStudy">
                            Añadir estudios
                        </a>
                            <!-- Add study form -->
                            <div class="row justify-content-center">
                                <div class="collapse multi-collapse mt-2 mb-2" id="addStudy">
                                    <app-add-education [user]="user" (emitUser)="userEmitted($event)"></app-add-education>
                                </div>
                            </div>
                        </div>
                        <!-- Languages -->
                        <div class="col-lg-5 col-12">
                            <div class="card text-dark bg-light mb-3">
                                <h2 class="card-header text-center">Idiomas</h2>
                                <div class="card-body">
                                    <ul class="list-group">
                                        <li class="list-group-item" *ngFor="let language of user.languages">
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    {{language.name}} - <span class=" fst-italic">{{language.level}}</span>
                                                </div>
                                                <div>
                                                    <!-- Edit language -->
                                                    <a *ngIf="showEditButton" class="btn btn-primary p-1 mr-1" data-bs-toggle="collapse" [href]="'#editLanguage'+language.id" role="button" aria-expanded="false" aria-controls="editLanguage">
                                                        <mat-icon>edit</mat-icon>
                                                    </a>
                                                    <!-- Delete language -->
                                                    <a *ngIf="showEditButton" class="btn btn-danger p-1 text-light" data-bs-toggle="collapse" (click)="deleteLanguage(language.id)" role="button" aria-expanded="false" aria-controls="deleteLanguage">
                                                        <mat-icon>delete</mat-icon>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Edit language form -->
                                            <div class="collapse multi-collapse mt-2 mb-2" [id]="'editLanguage'+language.id">
                                                <app-edit-language [language]="language" [user]="user" (emitUser)="userEmitted($event)"></app-edit-language>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Add language -->
                            <a *ngIf="showEditButton" class="btn btn-info mt-2" data-bs-toggle="collapse" href="#addLanguage" role="button" aria-expanded="false" aria-controls="addLanguage">
                                Añadir idioma
                            </a>
                            <!-- Add language form -->
                            <div class="collapse multi-collapse mt-2 mb-2" id="addLanguage">
                                <app-add-language [user]="user" (emitUser)="userEmitted($event)"></app-add-language>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>