<div class="main-body row align-items-center">
    <div class="row justify-content-center gutters-sm">
        <div class="col-xl-4 col-md-5 col-sm-7 col-12">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img *ngIf="user && user.image;else noImage" [src]="'http://localhost:8080/files/'+user.image.id">
                        <ng-template #noImage>
                            <img src="assets/img/no-image.png">
                        </ng-template>
                    </div>
                </div>
            </div>
            <!-- Profile image -->
            <form autocomplete="off" enctype="multipart/form-data" *ngIf="showEditButton" class="mt-2" #photoForm="ngForm" (ngSubmit)="editPhoto()">
                <input (change)="selectFile($event)" [disabled]="(!showEditButton)" type="file" class="form-control col-12" name="imageFile" ngModel required>
                <div class="row">
                    <span class="text-danger" *ngIf="showImageError">No se ha seleccionado imagen</span>
                </div>
                <button class="btn btn-info mt-2" type="submit">
                    Cambiar foto de perfil
                </button>
            </form>
        </div>
        <!-- Profile info -->
        <div class="col-xl-8 col-md-7 col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <form *ngIf="user" #editForm="ngForm" (ngSubmit)="editProfile()">
                        <!-- Born date -->
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <h4 class="mb-0">Fecha de nacimiento</h4>
                            </div>
                            <div class="col-sm-9">
                                <input [disabled]="(!showEditButton)" [(ngModel)]="user.born" name="born" type="date" class="text-secondary form-control" required>
                                <span *ngIf="validateField('born')" class="text-danger">
                                    La fecha de nacimiento es obligatoria
                                </span>
                            </div>
                        </div>
                        <hr>
                        <!-- Email -->
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <h4 class="mb-0">Email</h4>
                            </div>
                            <div class="col-sm-9">
                                <input *ngIf="user" [disabled]="(!showEditButton)" [(ngModel)]="user.email" name="email" type="email" class="text-secondary form-control" required>
                                <span *ngIf="validateField('email')" class="text-danger">
                                    El email es obligatorio y en formato válido
                                </span>
                            </div>
                        </div>
                        <hr>
                        <!-- Name and last name -->
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <h4 class="mb-0">Nombre</h4>
                            </div>
                            <div class="col-sm-9">
                                <input *ngIf="user" [disabled]="(!showEditButton)" [(ngModel)]="user.name" name="contact_name" type="text" class="text-secondary form-control" required>
                                <input *ngIf="user" [disabled]="(!showEditButton)" [(ngModel)]="user.last_name" name="contact_last_name" type="text" class="text-secondary form-control" required>
                                <span *ngIf="validateField('name') || validateField('last_name')" class="text-danger">
                                    El nombre es obligatorio
                                </span>
                            </div>
                        </div>
                        <hr>
                        <!-- Phone -->
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <h4 class="mb-0">Teléfono (opcional)</h4>
                            </div>
                            <div class="col-sm-9">
                                <input *ngIf="user" [disabled]="(!showEditButton)" [(ngModel)]="user.phone" name="phone" type="text" class="text-secondary form-control" pattern="^[\d\s]{9,}$">
                                <span *ngIf="validateField('phone')" class="text-danger form-text">Formato: solo números y espacios, mínimo 9 caracteres</span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <button *ngIf="showEditButton" type="submit" class="btn btn-info">Editar perfil</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Delete user (soft delete) -->
        <div class="col-5 col-md-3 col-xl-2 mt-5">
            <app-delete-account-button [user]="user"></app-delete-account-button>
        </div>
    </div>
</div>