<div class="card card-body bg-light">
    <h2>Editar idioma</h2>
    <form class="form-group" #formLanguage="ngForm" (ngSubmit)="editLanguage(language.id)">
        <div class="row align-items-center mb-3">
            <!-- Name -->
            <div class="col-12">
                <h4 class="fw-bold">
                    Idioma
                </h4>
            </div>
            <div class="col-12">
                <input [(ngModel)]="language.name" name="name" type="text" class="form-control" required>
                <span *ngIf="validateFieldLanguage('name')" class="text-danger form-text">
                    El idioma es obligatorio
                </span>
            </div>
        </div>
        <div class="row align-items-center mb-3">
            <!-- Level -->
            <div class="col-12">
                <h4 class="fw-bold">
                    Nivel
                </h4>
            </div>
            <div class="col-12">
                <select class="form-select" [(ngModel)]="language.level" name="level" aria-label="Default select example" required>
                    <option value="Básico">Básico</option>
                    <option value="Medio">Medio</option>
                    <option value="Avanzado">Avanzado</option>
                </select>
                <span *ngIf="validateFieldLanguage('level')" class="text-danger form-text">
                    El nivel es obligatorio
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-3 col-xs-6">
                <button [disabled]="formLanguage?.invalid" type="submit" class="btn btn-success">
                    Editar
                </button>
            </div>
            <span class="form-text">
                Si no cambias nada, no tendrá ningún efecto el envío del formulario
            </span>
        </div>
    </form>
</div>