<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h2>Editar oferta</h2>
        </div>
        <div *ngIf="offer" class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <form #form="ngForm" class="row register-form" (ngSubmit)="editOffer()">
                        <div class="col-md-6">
                            <!-- Name/title -->
                            <div class="form-group">
                                <input name="name" [(ngModel)]="offer.name" type="text" class="form-control" placeholder="Título de la oferta" required />
                                <span class="form-text text-danger" *ngIf="validateField('name')">El título es obligatorio</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Salary -->
                            <div class="form-group">
                                <input name="salary" [(ngModel)]="offer.salary" type="number" class="form-control" placeholder="Salario ofrecido" required min="0" />
                                <span class="form-text text-danger" *ngIf="validateField('salary')">El salario debe ser mayor que 0</span>
                            </div>
                        </div>
                        <div class="col-12">
                            <!-- Category -->
                            <div class="form-group">
                                <select name="category" [(ngModel)]="offer.category.id" class="form-control" required>
                                    <option class="hidden" disabled>Selecciona categoría</option>
                                    <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                                </select>
                                <span class="form-text text-danger" *ngIf="validateField('category')">La categoría es obligatoria</span>
                            </div>
                            <div class="form-group">
                                <!-- Description -->
                                <input name="description" [(ngModel)]="offer.description" type="text" class="form-control" placeholder="Descripción" required minlength="50" />
                                <span class="form-text text-danger" *ngIf="validateField('description')">Longitud mínima de 50 caracteres para la descripción</span>
                            </div>
                            <div class="row row-space">
                                <!-- Details -->
                                <editor required minlength="100" [(ngModel)]="offer.details" name="details" apiKey="qkfagpe6xw3ve8d8qwlvssr2diffjy4uptgt716xo0bwsxw6" initialValue="<p>Initial content of the editor</p>" [init]="{
                                    height: 500,
                                    menubar: false,
                                    plugins: [
                                    'advlist autolink lists link image charmap print',
                                    'preview anchor searchreplace visualblocks code',
                                    'fullscreen insertdatetime media table paste',
                                    'help wordcount'
                                    ],
                                    toolbar:
                                    'undo redo | formatselect | bold italic | \
                                    alignleft aligncenter alignright alignjustify | \
                                    bullist numlist outdent indent | help'
                                }">
                                </editor>
                                <span class="form-text text-danger" *ngIf="validateField('details')">Longitud mínima de 100 caracteres para los detalles de la oferta</span>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <button type="submit" class="btnRegister" [disabled]="form.invalid">
                                Editar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>