<!-- Filter offers form -->
<form (ngSubmit)="searchOffers(searchForm)" #searchForm="ngForm">
    <!-- By details -->
    <div class="form-group">
        <label for="text">Búsqueda por texto</label>
        <input ngModel name="description" type="text" class="form-control" id="text" placeholder="Palabras clave">
    </div>
    <!-- By category -->
    <label for="categories">Categoría</label>
    <select (change)="changeTooltipMessage()" class="form-control mb-2" id="categories" ngModel name="category">
        <option value="" selected>Cualquiera</option>
        <option *ngFor="let category of categories" [value]="category.id">
            {{category.name}}
        </option>
    </select>
    <!-- Tooltip with category description -->
    <button mat-raised-button #tooltip="matTooltip" [matTooltip]="tooltipMessage" [matTooltipPosition]="'below'" aria-label="Button that displays a tooltip that hides when scrolled out of the container" class="example-button">
        Información de la categoría seleccionada
    </button>
    <div class="row justify-content-between">
        <!-- Reset form -->
        <button (click)="resetOffers(searchForm)" type="button" class="btn btn-danger my-2 col-3">
            Borrar
        </button>
        <button type="submit" class="btn btn-primary my-2 col-3">
            Buscar
        </button>
    </div>
</form>